:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Item Row CSS */
.item-row {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 14px;
  background: #fff;
}

.item-img {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  object-fit: cover;
}

.item-info {
  flex: 1;
}

.item-info h3 {
  margin: 0;
  font-size: 1.1rem;
}

.price {
  margin: 4px 0 0;
  font-weight: bold;
}

.item-qty {
  display: flex;
  flex-direction: column;
}

.item-qty input {
  width: 60px;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid #aaa;
}

/* Order Form */
.order-form {
  max-width: 600px;
  margin: 2rem auto;
  padding: 1.5rem;
  background: #fafafa;
  border-radius: 10px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.order-form h1 {
  text-align: center;
  margin-bottom: 0.5rem;
}

.order-form h2 {
  margin: 0 0 0.25rem;
  font-size: 1.1rem;
}

.order-form label {
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}
.order-form div label{
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-content: center;
}
input:checked + span {
  background: #ffddc1;
  border-color: #ff8a3d;
  padding: 0.25rem;
  border-radius: 8px;
  box-shadow: 2px 2px #242424;
  transition: box-shadow 0.25s ease-in-out;
}

.order-form input[type="text"],
.order-form input[type="email"],
.order-form input[type="tel"] {
  padding: 6px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.submit-btn {
  margin-top: 0.5rem;
  padding: 0.75rem 1rem;
  border-radius: 6px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.order-review {
  max-width: 600px;
  margin: 2rem auto;
  padding: 1.5rem;
  background: #fafafa;
  border-radius: 10px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.review-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.review-total {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  padding-top: 6px;
  border-top: 1px solid #ccc;
  font-weight: 600;
}

.review-actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.review-actions button {
  flex: 1;
  padding: 0.6rem 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  cursor: pointer;
}


